body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.js-clock {
  font-family: "Jua", sans-serif;
  font-size: 30px;
}

.js-form,
.js-greetings {
  font-family: "Jua", serif;
  font-size: 100px;
}

.js-toDoForm {
  font-family: "Gamja Flower", cursive;
  font-size: 50px;
}

input {
  border: none;
  border-bottom: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  font-family: "Gamja Flower", cursive;
  font-size: 45px;
  color: white;
}

.js-toDoList {
  font-family: "Gamja Flower", cursive;
  font-size: 30px;
}

button {
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 30px;
  border: none;
}

ul {
  list-style: none;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
